body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #10405f;
}
header, footer {
    background-color: rgb(49, 41, 158);
    color: rgb(168, 217, 255);
    text-align: center;
    padding: 0.5rem;
}
nav {
    background-color: rgb(168, 217, 255);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
nav a {
    text-decoration: none;
    color: #10405f; 
    font-weight: bold;
}
main {
    padding: 2rem;
    display: flex;
    gap: 3rem;
}
article, aside {
    width: 60%;
}
strong {
    color: #000000;
}
blockquote{
    font-style: italic;
    color: 550c0c;
} 
article {
    background-color: rgb(168, 217, 255);
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    width: 100%;
}
aside {
    background-color: rgb(168, 217, 255);
    padding: 1rem;
    border-left: 4px solid rgb(56, 141, 206);
    border-radius: 7px;
}
th {
    background-color: rgb(168, 217, 255);
}
th, td {
    border: 1px solid black;
    padding: 0.5rem;
} 
table {
    width: 100%;
    border-collapse: collapse;
}
img {
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 8px;
}
footer a {
    color: rgb(168, 217, 255);
    text-decoration: none;
}