body{
background-color: rgb(224, 224, 224);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
strong{
    color: deeppink;
}
header, footer {
    background-color: lightsalmon;
    color: white;
    text-align: center;
    padding: 0.5rem;
}
nav {
    background-color: lightsalmon;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
} 
nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.788);
    font-weight: bold;
}
main {
    padding: 2rem;
    display: flex;
    gap: 2rem;
}
strong {
    color: lightcoral;
}
blockquote{
    font-style: italic;
    color:hotpink;
}

